<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Java Lab 2</title>
    <link rel="stylesheet" href="http://localhost:8080/styles/css/reset.css" type="text/css">
    <link rel="stylesheet" href="http://localhost:8080/styles/css/styles.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman&family=Jura&family=Orbitron:wght@400;500&display=swap" rel="stylesheet">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src = "http://localhost:8080/js/event-handler.js"></script>
    <script src = "http://localhost:8080/js/xml-handler.js"></script>
</head>
<body>
    <div id="wrapper">
        <header></header>
        <aside>
            <div id="heading">
                <h1>L3rfic3_Bot</h1>
            </div>
            <nav>
                <ul class="aside-menu" role="menu">
                    <li class="existing"><a th:href="@{/link/{day} (day = 'MONDAY')}">Понедельник</a></li>
                    <li class="existing"><a th:href="@{/link/{day} (day = 'TUESDAY')}">Вторник</a></li>
                    <li class="existing"><a th:href="@{/link/{day} (day = 'WEDNESDAY')}">Среда</a></li>
                    <li class="existing"><a th:href="@{/link/{day} (day = 'THURSDAY')}">Четверг</a></li>
                    <li class="existing"><a th:href="@{/link/{day} (day = 'FRIDAY')}">Пятница</a></li>
                    <li class="existing"><a th:href="@{/link/{day} (day = 'SATURDAY')}">Суббота</a></li>
                    <li class="existing"><a th:href="@{/link/{day} (day = 'SUNDAY')}">Воскресенье</a></li>
                </ul>
            </nav>
        </aside>
        <section>
            <div th:switch="${#lists.size(timeTables)}">
                <div th:case="'0'">
                    <div class="not-found-block">
                        <div class="not-found-404">404</div>
                        <div class="not-found-text">По расписанию<br>пары на этот день<br>не найдены</div>
                    </div>
                </div>
                <div th:case="*" class="time-table-block">
                    <div class="time-table-part" section th:each="timeTable : ${timeTables}">
                        <div class="day-label" th:text="${timeTable.dayOfWeekRus}"></div>
                        <div class="lessons-block">
                            <div class="text-block" section th:each="lesson : ${timeTable.lessonDtoList}">
                                <div class="lesson-title" th:text="${lesson.title}"></div>
                                <ul type="square">
                                <li th:text="'Проходит ' + (${lesson.isRemote()} ? 'очно' : 'дистанционно')"></li>
                                <li th:text="|Время: ${lesson.startTime} - ${lesson.endTime}|">Время</li>
                                <li th:text="|Аудитория ${lesson.audienceNumber}|"></li>
                                <li th:text="|Преподаватель: ${lesson.lector}|"></li>
                                <li th:text="|Описание: ${lesson.description}|"></li>
                                <form th:action="@{/edit/{id} (id=${lesson.id})}">
                                    <button class="edit-description" type="submit">
                                        <img th:src="@{/styles/images/neon-edit.png}">
                                    </button>
                                </form>
                                </ul>
                            </div>
                        </div>
                        <div th:if="${timeTableStat.index < timeTables.size - 1}">
                            <div class="time-table-split-line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="void-space"></div>
            
        </section>
    </div>
    <div class = "top-container">
        <!--<div class="week-label">Четная неделя</div>
        <form class="toggle-switch">
            <div class = "slider"></div>
            <input type = "checkbox" checked>
        </form>-->
        <form name="search" th:action="@{/index}" method="GET" accept-charset="utf-8">
            <input type="text" id="search-field" placeholder="Введите команду...">
            <button id="search-button" type="submit">&nbsp;&nbsp;&nbsp;&nbsp;▷&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </form>
    </div>
</body>
</html>