body {
	color: #2f1057;
    font-family: 'Jura', sans-serif;
	background: linear-gradient(90deg, #321863,  #3f115a);
	/*border-top: 8px solid #0c011c;*/
	height: 100%;
    margin: 0 0 0 0;
}

#wrapper {
	margin: 0 0 0 0;
	position: relative;
    min-height: 100%;
}

/*----------------------------- HEADERS -----------#20163b,------------------*/
header {
    height: 8px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: #0c011c;

}

#heading {
	background: transparent url('../images/asset-logo.png');
	height: 120px;
}

h1 {
	display: inline-block;
	color: #e3f8ff;
	font: 20px/20px 'Orbitron', sans-serif;
	font-weight: 300;
	position: relative;
    padding-top: 10px;
    padding-left: 50px;
}

/*----------------------------- CONTAINER -----------------------------*/
.top-container {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #0c011c;
    min-height: 75px;
    min-width: 100%;
    padding-left: 50px;
}

.week-label {
    width: 135px;
    height: 32px;
    padding-top: 8px;
    margin-top: 16px;
    font-family: 'Jura', sans-serif;
    font-size: 17px;
    text-align: left;
    color: #73deffe5;
    position: relative;
}

/*----------------------------- TEXT-FIELD -------#d1b8f2----------------------*/
form[name="search"] {
	float: left;
    position: relative;
}

#search-field {
	background: linear-gradient(90deg, #321863,  #da80a2);
	border: 0px;
	height: 32px;
    color: #d1b8f2;
    font-family: 'Jura', sans-serif;
	font-size: 16px;
	font-weight: 100;
	padding: 0 10px;
	vertical-align: top;
	margin: 16px 0 0 200px;
	right: 0;
    width: 750px;
    border-radius: 18px;
}

#search-button {
	color: #73deffe5;
	background-color: #0c011c;
    border: 1.5px solid #73deffe5;
    border-radius: 18px;
	height: 32px;
	font-family: 'Jura', sans-serif;
	font-size: 16px;
    margin: 16px 0 0 -30px;
    right: 0;
}

/*----------------------------- TOGGLE-SWITCH -----------------------------*/
.toggle-switch {
    height: 16px;
    width: 44px;
    background: #5f92b0;
    border-radius: 18px;
    margin-top: 24px;
    transition: .4s;
}

.toggle-switch.active {
    background: #20163b; 
}

.toggle-switch > .slider {
    margin-top: -4px;
    margin-left: 0;
    background: #0c011c;
    border-radius: 50%;
    border: 1.5px solid #73deffe5;
    width: 20px;
    height: 20px;
    transition: .4s;
    cursor: pointer;
}

.toggle-switch > input {
    display: none;
}

/*----------------------------- ASIDE -----------------------------*/
aside {
	float: left;
    width: 250px;
    top: 8px;
    bottom: 0;
    min-height: 100%;
    position: fixed;
    padding-bottom: 20px;
    background-color: #0c011c;
}

.aside-menu li {
    padding-left: 50px;
	font-weight: 400;
	list-style-type: none;
    color: #634d7f;
    font-size: 20px;
}

.aside-menu li:first-child {
    padding-top: 30px;
	border: none;
}

.aside-menu li.active {
	color: #73deffe5;
}

.aside-menu a {
	color: #634d7f;
}

.aside-menu li a:hover {
    color: #73deffe5;
}

.active a {
	color: #73deffe5;
}

nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font-family: 'Jura', sans-serif;
	padding: 10px;
}

/*----------------------------- SECTION -----------------------------*/
section {
	margin-left: 300px;
	margin-top: 20px;
    padding-bottom: 20px;
}

section > time-table-block + time-table-block {
    margin-left: 50px;
}

.time-table-block {
    vertical-align: top;
    line-height: 20px;
    text-align: left;
    background: #180e29;
    background-size:30px 100%, 100% 100%;
    border-radius: 18px;
    border: 1.5px solid  #73deffe5;
    width: 800px;
    height: auto;
    color:#9ce8fff1;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 15px;
    position: relative;
}

.time-table-part {
    display: inline-block;
    margin: 10px 0 10px 0;
}

.time-table-split-line {
    height: 1.2px;
    margin: 10px 0 -10px -15px;
    width: 100%+15px;
    background-color: #73deffe5;
}

.lessons-block {
    display: table-cell;
    width: 90%;
}

.lesson-title {
    font: 19px/19px 'Jura', sans-serif;
    color: #73deffe5;
    margin: 0 0 8px 8px;
}

.text-block {
    line-height: 20px;
    text-align: left;
    width: 725px;
    color:#9ce8fff1;
    border-radius: 10px;
    margin: 0 0 25px 15px;
    position: relative;
    padding-right: 15px;
}

.day-label {
    display: table-cell;
    font: 24px/24px 'Jura', sans-serif;
    padding-top: 20px;
    text-align: center;
    width: 80px;
    height: 60px;
    color: #e3f8ff; 
    background: linear-gradient(45deg,  #276191, #272446); 
    border-radius: 10px;
    margin-left: 15px;
}

.text-block li > .edit-button {
    margin-left: 100px;
    opacity: 0.3;
    position: relative;
}

.text-block li {
    font: 14px/14px 'Jura', sans-serif;
    display: inline-block;
    line-height: 20px;
    font-weight: 300;
    list-style-type: none;
    text-align: left;
    margin: 5px 0 0 8px;
    padding: 5px 12px 5px 12px;
    border-radius: 10px;
    background-color: #272446;
    color:#e3f8ff
}

.edit-description {
    display: inline-block;
    border-radius: 10px;
    height: 30px;
    border-style: none;
    /*background: transparent url("../images/neon-edit.png");*/
    background-color: #272446;
    color:#e3f8ff9d;
    margin: 5px 0 0 8px;
}

.not-found-block {
    margin-left: 100px;
    margin-top: 50px;
    color: #d1b8f2;
}

.not-found-block .not-found-404 {
    display: inline-block;
    font: 140px/140px 'Jura', sans-serif;
    font-weight: 300;
    height: 200px;
    position: relative;
}

.not-found-block .not-found-text {
    display: inline-block;
    margin-left: 20px;
    font: 35px/35px 'Jura', sans-serif;
    font-weight: 200;
    height: 200px;
    position: relative;
}

/*----------------------------- EDIT -----------------------------*/
#edit-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top: 0px;
    padding-left:40%;
    margin: 0 auto;
    box-sizing: border-box;
}

#edit-popup #edit-field {
    font: 14px/14px 'Jura', sans-serif;
    margin: 180px auto 0px auto;
    padding: 10px 10px 10px 10px;
    width: 400px;
    height: 250px;
    background-color: #a37cd6d7;
    border-style: none;
    border-radius: 10px;
    resize: none;
    text-align: left;
    border-top: 10px solid #551f9c;
    border-bottom: 34px solid #551f9c;
    color: white;
    box-shadow: 0px 0px 10px #000;

}

#edit-popup #edit-button {
    position: fixed;
    left: 40%;
    margin-left: 50px;
    top: 462px;
    height: 30px;
    width: 30px;
    border-style: none;
    background: url(../images/tick_small.png);
}

#edit-popup #cancel-button {
    position: fixed;
    left: 40%;
    margin-left: 340px;
    top: 462px;
    height: 30px;
    width: 30px;
    border-style: none;
    background: url(../images/delete_small.png);
}

.void-space {
    height: 400px;
}

/*-------------------------------FORMS--------------------------------------*/

#form-wrapper {
    width: 100%;
    padding: 50px 30% 50px 30%;
    display: table-cell;
}

#inner-wrapper {
    display: flex;
    padding-left: 25px;
}

#update-form {
    color:#9ce8fff1;
    position: relative;
}

#cancel-form {
    color:#9ce8fff1;
    position: relative;
}

#update-form #description-field {
    margin-top: 15px;
    font: 14px/14px 'Jura', sans-serif;
    background-color: #2f134e;
    border-radius: 18px;
    border-style: hidden;
    width: 600px;
    height: 150px;
    color: #d1b8f2;
    padding: 10px 10px 10px 10px;
}

.button-for-edit {
    font: 14px/14px 'Jura', sans-serif;
    border-radius: 18px;
    border: 1.5px solid  #73deffe5;
    width: 80px;
    background-color: #2f1057;
    color:#9ce8fff1;
    height: 32px;
    margin-top: 12px;
    position: relative;
}

.button-for-cancel {
    font: 14px/14px 'Jura', sans-serif;
    border-radius: 18px;
    border: 1.5px solid  #73deffe5;
    width: 80px;
    background-color: #2f1057;
    color:#9ce8fff1;
    height: 32px;
    margin-top: 215px;
    margin-left: -520px;
    position: relative;
}


